<html>
    <head>
    </head>
    <body>
    <form action="/change_status_auth" method="POST">
        <h2>Change Status of Flights</h2>
        <input type="text" name="airline_name" placeholder="airline name" required/></br>
        <input type="text" name="flight_num" placeholder="flight number" required/></br>
        <input type="text" name="status" placeholder="status" required/></br>
        <input type="submit" value = submit />           
    </form>
    <a href="/airline_staff_home">Go back</a>
    </body>
</html>
        