<html>
<head>
</head>
<body>
<form action="/registerAuthCustomer" method="POST">
    <h2>Register As Customer</h2>
    <input type="text" name = "username" placeholder="username" required/> </br>
    <input type="password" name = "password" placeholder="password" required/></br>
    <input type="text" name = "name" placeholder="name" required/> </br>
    <input type="text" name = "building_number" placeholder="building number" required/> </br>
    <input type="text" name = "street" placeholder="street" required/> </br>
    <input type="text" name = "city" placeholder="city" required/> </br>
    <input type="text" name = "state" placeholder="state" required/> </br>
    <input type="text" name = "phone_number" placeholder="phone number" required/> </br>
    <input type="text" name = "passport_number" placeholder="passport number" required/> </br>
    <h5>Passport Expiration</h5>
    <input type="date" name = "passport_expiration" placeholder="passport expiration" required/> </br>
    <input type="text" name = "passport_country" placeholder="passport country" required/> </br>
    <h5>Date of Birth</h5>
    <input type="date" name="date_of_birth" placeholder="date of birth" required/></br>
    <input type="submit" value = Register />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>

<a href="/">Go back</a>

</body>

</html>
