<html>
    <head>
    </head>
    <body>
    <form action="/process_purchase" method="POST">
        <h2>Purchase Tickets</h2>
        <input type="text" name="ticket_id" placeholder="ticket id" required/></br>
        <input type="text" name="customer_email" placeholder="customer email" required/></br>
        <input type="text" name="booking_agent_id" placeholder="booking agent id" required/></br>
        <input type="date" name="purchase_date" placeholder="purchase date" required/></br>
        <input type="submit" value = submit />           
    </form>
    <a href="/booking_agent_home">Go back</a>
    </body>
</html>